{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1> Edit property </h1>
        {{ include ('admin/property/forms/_forms.html.twig', {button: 'Update'}) }}
    </div>
{% endblock %}